{% extends 'enroll/base.html' %}
{% load static %}
{% block content %}
    <div class="row justify-content-evenly">
        <div class="col-md-8">
            <h4 class="alert-info text-center">See Student/User Info</h4>
            {% if student_list %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">NAME</th>
                        <th scope="col">EMAIL</th>
                        <th scope="col">PASSWORD</th>
                        <th scope="col">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dt in student_list %}
                        <tr>
                            <th scope='row'>{{dt.id}}</th>
                            <td>{{dt.name}}</td>
                            <td>{{dt.email}}</td>
                            <td>{{dt.password}}</td>
                            <td>
                                <a href="{% url 'update' dt.id %}" class="btn btn-sm btn-warning">Edit</a>
                                <form action="{% url 'delete' dt.id %}" method='POST' class="d-inline"> {% csrf_token %}
                                    <input type="submit" value='Delete' class="btn btn-sm btn-danger">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr><hr>
            <a href="{% url 'add' %}" class="btn btn-primary">Add New Data</a>
            {% else %}
                <h4 class="text-center alert alert-warning">No Student/User Data Found</h4>
            {% endif %}
        </div>
    </div>
{% endblock content %}